.*
C#/sandbox/src/Sandbox/bin/
C#/sandbox/src/Sandbox/obj/
C#/sandbox/test/Sandbox.Tests/bin
C#/sandbox/test/Sandbox.Tests/obj
JavaScript/Codewars/tests/node_modules
JavaScript/node_modules

# Exclude from ignore
!.gitignore